.ticket {
  width: 600px;
  height: max-content;
  position: relative;
  background-color: rgba(224, 222, 222, 0.921);
  color: #1a2238;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.receiptContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticketBadgeText {
  color: green;
  font-size: 12px;
  font-weight: 600;
}
.receiptSerial {
  width: 100%;
  padding: 0 10px 0 0;
  display: flex;
  align-items: center;
  font-size: 12px;
  justify-content: flex-end;
}
.receiptSerial span {
  font-weight: 300;
  font-size: 10px;
  font-family: cursive;
}
.receiptPayment {
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.receiptcol1 span {
  display: flex;
  align-items: center;
  gap: 10px;
}
.summary {
  width: 100%;
}
.summaryItem {
  display: flex;

  justify-content: space-between;
}
.summaryPrice,
.summaryService {
  display: flex;
  padding: 0px 20px;
  font-size: 14px;
  font-weight: 300;
  flex-direction: column;
}
.summaryPrice {
  font-weight: 600;
}
.summaryevent {
  font-size: 14px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid gray;
}
.summaryevent .event {
  padding-left: 20px;
}
.summaryTotals {
  border-bottom: 0.1rem solid gray;
  padding: 5px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.receiptFooter span {
  font-size: 12px;
  font-weight: 300;
}
